<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="snow-akeneo-fredhopper">
            <directory>./test/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
